<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhyRmd49H4MyiMqFofiRpqYYRcH18w6Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>515938989606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iadevs.OrdersTracking</string>
	<key>PROJECT_ID</key>
	<string>movies-60eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-60eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515938989606:ios:967b3439be85da9457d8e7</string>
</dict>
</plist>